<mat-toolbar class="mat-toolbar">
  <span>Resultado das Contas</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/" fontIcon="home"></mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menu" >Contas</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="contas">Listar</button>
    <button mat-menu-item routerLink="cadastrarcontas">Cadastrar</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu" >Agregados</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/contas">Listar</button>
    <button mat-menu-item   routerLink="/cadastrarcontas">Cadastrar</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu1" >Lançamentos</button>
  <mat-menu #menu1="matMenu">
    <button mat-menu-item routerLink="lctos">Listar</button>
    <button mat-menu-item routerLink="cadastralcto">Cadastrar</button>

  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu" >Parcelamentos</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/listarparc" >Listar</button>
    <button mat-menu-item routerLink="/cadastrarparc"> Cadastrar</button>

  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu" >CDC</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/contas">Listar</button>
    <button mat-menu-item routerLink="/cadastrarcontas">Cadastrar</button>

  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu" >Sobre</button>

</mat-toolbar>

